
            body {margin:0;
			     
			}

			.fixed-nav-bar {
			  position: fixed;
			  top: 0;
			  left: 0;
			  z-index: 9999;
			  width: 100%;
			  height: 9%;
			  background-color: #00a087;
			  background-image: url(ccc5.png);
			  overflow: hidden;
			   background-size: 100% 100%;
            }

            .fixed-nav-bar a {
             float: left;
             display: block;
             color: white;
             padding: 25px 16px;
             text-decoration: none;
             font-size: 30px;
             }

             .fixed-nav-bar a:hover {
             background-image: url(Make the ghosts);
             color: black;
             }

             .main {
             padding: 16px;
             margin-top: 30px;
             height: 1500px;
             }
			                {
		                    padding: 0px;
		                    margin:0px;
		                    box-sizing: border-box;
	                        }

	                        .box{		                     
		                     padding: 40px 60px;
		                     color: white;
		                     font-family: sans-serif;
	                         }
							 
	                         .section-1{
                              height: 35%;
                              background-image: url(bbb1.jpg);
                              background-attachment: fixed;
                              background-size: 100% 100%;;
	                          }

	                         .section-2{
							  height: 35%;
		                     background-image: url(ddd1.jpg);
                             background-attachment: fixed;
                             background-size: 100% 100%;;
	                         }

	                         .section-3{
							 height: 30%;
		                     background-image: linear-gradient(#030303, #410433);
							 

	                         }	  
							 .section-4{
							 height: 33%;
		                     background-image: linear-gradient(	#66003f, #520ee5, #200d88);
	                         }	  
							 .section-5{
							 height: 20vh;
		                     background-image: linear-gradient(#2e007c, #090643, #030303);
	                         }	  
                                                       h1{													   
													   position: relative;
                                                       top: 20px;
                                                       left: 20px;
													   font-size: 50px;
													   }
													  	
                                                         h2{
													   text-align: center;
													   font-size: 50px;													   
													   }			
                                                       .p1 {
			                                           font-family: "Times New Roman", Times, serif;
			                                           }	
													   .b1 {
														   text-align: center
													   }
                                                           .responsive {
                                                           max-width: 100%;
                                                           height: auto;
                                                           } 
																		
                                                                  	 
																	 
																	 
																
                                                                    